In [1]:
#Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\gagans\appdata\local\programs\python\python38-32\lib\site-packages (2.8.6)Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.1.1; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\gagans\appdata\local\programs\python\python38-32\python.exe -m pip install --upgrade pip' command.

In [3]:
# Use Pandas to read data
data = "data/decades.csv"
data0 = pd.read_csv(data)
data0.head()

,Number,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,decade
0,1,Put Your Head On My Shoulder,Paul Anka,adult standards,2000,116,34,55,-9,10,47,155,75,3,72,1950
1,2,Whatever Will Be Will Be (Que Sera Sera) (with...,Doris Day,adult standards,1948,177,34,42,-11,72,78,123,86,4,62,1950
2,3,Everybody Loves Somebody,Dean Martin,adult standards,2013,81,49,26,-9,34,40,162,81,4,61,1950
3,4,Take Good Care Of My Baby - 1990 Remastered,Bobby Vee,adult standards,2011,82,43,49,-12,12,66,151,70,6,60,1950
4,5,A Teenager In Love,Dion & The Belmonts,adult standards,1959,79,38,56,-9,13,62,158,67,3,60,1950

In [4]:
data1=data0.drop(columns={"Number","bpm","live","dur","acous","spch","dur","acous","spch","dB"})
data1.head()

,title,artist,top genre,year,nrgy,dnce,val,pop,decade
0,Put Your Head On My Shoulder,Paul Anka,adult standards,2000,34,55,47,72,1950
1,Whatever Will Be Will Be (Que Sera Sera) (with...,Doris Day,adult standards,1948,34,42,78,62,1950
2,Everybody Loves Somebody,Dean Martin,adult standards,2013,49,26,40,61,1950
3,Take Good Care Of My Baby - 1990 Remastered,Bobby Vee,adult standards,2011,43,49,66,60,1950
4,A Teenager In Love,Dion & The Belmonts,adult standards,1959,38,56,62,60,1950

In [5]:
data5=data1.rename(columns={"top genre":"genres","dnce":"danceability","nrgy":"energy","val":"valence","pop":"popularity"})
data5.head()

,title,artist,genres,year,energy,danceability,valence,popularity,decade
0,Put Your Head On My Shoulder,Paul Anka,adult standards,2000,34,55,47,72,1950
1,Whatever Will Be Will Be (Que Sera Sera) (with...,Doris Day,adult standards,1948,34,42,78,62,1950
2,Everybody Loves Somebody,Dean Martin,adult standards,2013,49,26,40,61,1950
3,Take Good Care Of My Baby - 1990 Remastered,Bobby Vee,adult standards,2011,43,49,66,60,1950
4,A Teenager In Love,Dion & The Belmonts,adult standards,1959,38,56,62,60,1950

In [6]:
# Use Pandas to read data
data2 = "data/data_by_genres.csv"
data3 = pd.read_csv(data2)
data3.head()

,genres,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,popularity,key,mode
0,432hz,0.494780,0.299333,1.048887e+06,0.450678,0.477762,0.131000,-16.854000,0.076817,120.285667,0.221750,52.166667,5,1
1,[],0.679245,0.521473,2.298526e+05,0.401522,0.196737,0.221586,-12.679076,0.112267,112.025168,0.515920,21.682005,7,1
2,a cappella,0.621532,0.577017,1.936522e+05,0.345694,0.003799,0.127087,-12.770211,0.095324,111.813230,0.453186,43.351819,11,1
3,abstract,0.359395,0.459500,3.430185e+05,0.487000,0.791400,0.119480,-14.092000,0.043420,124.743200,0.304990,41.500000,1,1
4,abstract beats,0.353347,0.694400,2.338244e+05,0.613400,0.349403,0.102453,-6.699800,0.143453,119.398400,0.634187,58.600000,10,0

In [7]:
data4=data3.drop(columns={"acousticness","duration_ms","instrumentalness","liveness","loudness","speechiness","tempo","key","mode"})
data4.head()

           genres  danceability    energy   valence  popularity
0           432hz      0.299333  0.450678  0.221750   52.166667
1              []      0.521473  0.401522  0.515920   21.682005
2      a cappella      0.577017  0.345694  0.453186   43.351819
3        abstract      0.459500  0.487000  0.304990   41.500000
4  abstract beats      0.694400  0.613400  0.634187   58.600000

In [8]:
# Use Pandas to read data
data6 = "data/country_comparison_consprod.csv"
data7 = pd.read_csv(data6)
data7.head()

   Unnamed: 0 countries  danceability    energy   valence type_of_info
0           0       ARG      0.768989  0.771080  0.668241         cons
1           1       MEX      0.741207  0.699149  0.710977         cons
2           2       AUS      0.716034  0.593791  0.521402         cons
3           3       CAN      0.768575  0.570161  0.576659         cons
4           4       GBP      0.718678  0.625690  0.568583         cons

In [9]:
#Loading the data
connection_string = "postgres://postgres:ABC123@localhost/spotify"
conn = create_engine(connection_string)

In [10]:
data4.to_sql(name="by_genre", con=conn, if_exists="replace", index=False)

In [11]:
pd.read_sql("select * from by_genre",conn)

              genres  danceability    energy   valence  popularity
0              432hz      0.299333  0.450678  0.221750   52.166667
1                 []      0.521473  0.401522  0.515920   21.682005
2         a cappella      0.577017  0.345694  0.453186   43.351819
3           abstract      0.459500  0.487000  0.304990   41.500000
4     abstract beats      0.694400  0.613400  0.634187   58.600000
...              ...           ...       ...       ...         ...
2659            zolo      0.560365  0.611985  0.596705   33.760410
2660         zouglou      0.834000  0.674000  0.951000   56.000000
2661            zouk      0.752762  0.627238  0.844381   42.476190
2662     zouk riddim      0.776000  0.656000  0.966000   24.000000
2663          zydeco      0.596992  0.603610  0.752643   29.840152

[2664 rows x 5 columns]

In [12]:
data5.to_sql(name="by_decade", con=conn, if_exists="replace", index=False)

In [13]:
pd.read_sql("select * from by_decade",conn)

,title,artist,genres,year,energy,danceability,valence,popularity,decade
0,Put Your Head On My Shoulder,Paul Anka,adult standards,2000,34,55,47,72,1950
1,Whatever Will Be Will Be (Que Sera Sera) (with...,Doris Day,adult standards,1948,34,42,78,62,1950
2,Everybody Loves Somebody,Dean Martin,adult standards,2013,49,26,40,61,1950
3,Take Good Care Of My Baby - 1990 Remastered,Bobby Vee,adult standards,2011,43,49,66,60,1950
4,A Teenager In Love,Dion & The Belmonts,adult standards,1959,38,56,62,60,1950
...,...,...,...,...,...,...,...,...,...
662,Stereo Hearts (feat. Adam Levine),Gym Class Heroes,dance pop,2011,80,65,80,56,2010
663,Dynamite,Taio Cruz,dance pop,2011,79,76,87,56,2010
664,Break Your Heart,Taio Cruz,dance pop,2011,89,67,68,54,2010
665,Summer Air,ItaloBrothers,dance pop,2017,75,76,49,43,2010
666,All I Wanna Do,Martin Jensen,big room,2016,79,73,56,32,2010

In [14]:
data7.to_sql(name="countries", con=conn, if_exists="replace", index=False)

In [15]:
pd.read_sql("select * from countries",conn)

    Unnamed: 0 countries  danceability    energy   valence type_of_info
0            0       ARG      0.768989  0.771080  0.668241         cons
1            1       MEX      0.741207  0.699149  0.710977         cons
2            2       AUS      0.716034  0.593791  0.521402         cons
3            3       CAN      0.768575  0.570161  0.576659         cons
4            4       GBP      0.718678  0.625690  0.568583         cons
5            5       GER      0.722793  0.653103  0.521989         cons
6            6       JPN      0.561953  0.713662  0.496940         cons
7            7       ARG      0.592584  0.638695  0.505150         prod
8            8       MEX      0.627601  0.640616  0.616195         prod
9            9       AUS      0.585212  0.665569  0.501861         prod
10          10       CAN      0.589976  0.651744  0.500491         prod
11          11       GBP      0.606839  0.639825  0.496108         prod
12          12       GER      0.600388  0.642086  0.502447         prod
13          13       JPN      0.593234  0.680145  0.537638         prod